{
  "presets": [
    ["env", {
      "loose": false,
      "modules": false
    }]
  ],
  "env": {
    "test": {
      "presets": [[ "env" ]]
    },
    "cjs": {
      "presets": [
        ["env", {
          "loose": false,
          "targets": {
            "node": 6,
            "browsers": "last 4 versions"
          }
        }]
      ]
    },
    "rollup": {
      "plugins": [
        "external-helpers"
      ]
    }
  }
}
