{
  "plugins": [
    "transform-object-rest-spread"
  ],
  "presets": [
    ["es2015", { "loose": true, "modules": false }]
  ],
  "env": {
    "test": {
      "presets": [ "env" ]
    },
    "cjs": {
      "presets": [ "env", {
      "targets": {
        "node": 6,
        "browsers": "last 4 versions"
      }
    }]
    },
    "rollup": {
      "plugins": [
        "external-helpers"
      ]
    }
  }
}
